html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

.h1 {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 1500px;
    height: 70px;
    color: white;
}

.copy {
    font-size: 18px;
    text-align: center;
}